:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5fa;

  font-family: "Noto Sans", sans-serif;
}

input,
button {
  font-family: "Noto Sans", sans-serif;
}

button {
  cursor: pointer;
  transition: 0.2s filter;
}

button:hover {
  filter: brightness(0.9);
}

h4 {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.125rem;
  color: #32325f;
}
